<div class="text-center">
    <h1 class="display-4">Activities for @Model.SelectedDate</h1>
    <form>
        <p>Change preview date</p>
        <input type="date" name="date" onchange="this.form.submit()">
    </form>
</div>
